/* esto s son los buenos */
/**
 * ---------------------------------------------------
 * 	Table of contents
 * ---------------------------------------------------
 */
/**----------
	3. Generic
		3.1 base
		3.2 Fonts
		3.3 Typography
		3.4 Helpers
	4. Elements
		4.1 Header 
		4.2 Headings
		4.3 Parags
		4.4 Footer
	5. Objects
		5.1 Buttons
	6. Components
		6.1 Buttons
		6.1 Forms elements
	7. Utilities
		7.1 utilities


---------------*/
/**
 * ---------------------------------------------------
 * 	3. generic
 * ---------------------------------------------------
 */
/* --------------------- 3.1 Base --------------------- */
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: 8px 0;
}

/* --------------------- 3.2 Fonts --------------------- */
@font-face {
  font-family: "segoe";
  src: url("assets/fonts/Segoe/Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoe-light";
  src: url("assets/fonts/Segoe/Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoe-bold";
  src: url("assets/fonts/Segoe/Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------------------- 3.3 Typography --------------------- */
/**
 * Basic typography style for copy text
 */
body {
  font-family: "segoe", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
}

a {
  color: #337ab7;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
}

dd {
  margin-left: 25px;
}

/* --------------------- 3.4 Helpers --------------------- */
/**
 * ---------------------------------------------------
 * 	4. Elements
 * ---------------------------------------------------
 */
/* --------------------- 4.1 Header --------------------- */
/* --------------------- 4.2 headings --------------------- */
/* --------------------- 4.3 parags (texts, notes, messages) --------------------- */
/* --------------------- 4.4 Footer --------------------- */
/**
 * ---------------------------------------------------
 * 	5.  Objects
 * ---------------------------------------------------
 */
/**
 * ---------------------------------------------------
 * 	6.  Components
 * ---------------------------------------------------
 */
/* --------------------- 6.1 Buttons --------------------- */
/* --------------------- 6.2 Inputs --------------------- */
/**
 * ---------------------------------------------------
 * 	7.  Utilities
 * ---------------------------------------------------
 */
/**
 * ---------------------------------------------------
 * 	8.  Pages
 * ---------------------------------------------------
 */
/* --------------------- 8.1 Home Page Contoso --------------------- */
body {
  background: #142d4c;
  background: linear-gradient(323deg, #62a7ff 0%, #435ab6 46.381%, #435ab6 46.381%, #3f51ad 51.72%, #142d4c 100%);
}

/*# sourceMappingURL=style.css.map */
