/**
 * Basic typography style for copy text
 */
body {
  @include font-regular();
  font-style: normal;
  font-weight: 400;
  
}

a{
	color: $a-color;
}
h1, h2, h3, h4, h5, h6{

  font-style: normal;
  font-weight: 700;
}

dd {
    margin-left: 25px;
}
